@page "/"
@inject AuthStateProvider authStateProvider
@inject NavigationManager navManager
@inject UserService userService

<PageTitle>Хаб</PageTitle>

<h1>Хаб</h1>

<AuthorizeView>
	<NotAuthorized>
		<p>Чтобы увидеть здесь что-то, нужно войти.</p>
	</NotAuthorized>
	<Authorized>
		@if(role == "Role")
		{
			<p>Вы вошли как администратор.</p>
		}
		else if (role == "BuilderRole")
		{
			<p>Вы вошли как застройщик.</p>
		}
		else if (role == "CustomerRole")
		{
			<p>Вы вошли как заказчик.</p>
		}
		else if (role == "DesignerRole")
		{
			<p>Вы вошли как проектировщик.</p>
		}
		else
		{
			<p>Вы как сюда зашли?</p>
		}
	</Authorized>
</AuthorizeView>

@code
{
	string role = "Guest"; 
	protected override void OnInitialized()
	{
		if (AuthStateProvider.IsAuthenticated)
		{
			role = userService.GetRole();
			navManager.NavigateTo("");
		}
	}
}