@page "/login"
@inject AuthStateProvider authStateProvider
@inject UserService userService
@inject NavigationManager navManager
@inject IJSRuntime jsRuntime

<PageTitle>Вход</PageTitle>

<style>

    form {
        max-width: 45em;
        margin: 0 auto;
    }
</style>
<form @onsubmit="Authentication">
<h3>Вход</h3>
    @foreach(var item in userService.GetErrors())
    {
	    <div class="alert alert-danger">@item</div>
    }
    <label>Логин:</label>
        <input class="form-control" required @bind="login" />
    <br />
    <label>Пароль:</label>
    <input class="form-control" required type="password" @bind="password" />
    <br />
    <button class="btn btn-primary" type="submit">Войти</button>
</form>

@code
{
    private string login = "";
    private string password = "";
    LocalStorageService localStorage;
	
    [CascadingParameter]
    private Task<AuthenticationState> AuthenticationStateTask { get; set; }

    private void Authentication()
    {
        if (userService.Authorization(login, password))
        {
            localStorage = new LocalStorageService(jsRuntime);
			localStorage.SetStringAsync("token", userService.GetToken());
            AuthStateProvider.IsAuthenticated = true;
            AuthStateProvider.UserName = userService.GetUsername();
            AuthStateProvider.Role = userService.GetRole();
            navManager.NavigateTo("");
        }
        //if (!isAuthenticated.HasValue)
        //{
        //    AuthStateProvider.IsAuthenticating = true;
        //}
        //else
        //{
        //    AuthStateProvider.IsAuthenticating = false;
        //    AuthStateProvider.IsAuthenticated = isAuthenticated.Value;
        //}

        authStateProvider.NotifyAuthenticationStateChanged();
    }
}