@using GovOrdersApp.Data.Orders
@inject AuthStateProvider authStateProvider
@inject NavigationManager navManager
@inject UserService userService
@inject OrderService orderService
@if (Role.Contains("Role"))
{
	<h3>Заказы</h3>
	@if(Role == "AdminRole" || Role == "CustomerRole")
	{
		<a class="btn btn-primary" href="makeorder">Создать заказ</a>
	}
	<table class="table">
		<tr>
			<th>№</th>
			<th>Название заказа</th>
		</tr>
		@for (int i = 0; i < Orders.Count(); i++)
		{
			<tr>
				<td>@(i + 1)</td>
				<td><a href="order/@Orders[i].Id">@Orders[i].Title</a></td>
			</tr>
		}
	</table>
}
@code {
	[Parameter]
	public string Role { get; set; }
	[Parameter]
	public List<Order>? Orders { get; set; }
}
