@using GovOrdersApp.Data.Orders
@inject AuthStateProvider authStateProvider
@inject NavigationManager navManager
@inject UserService userService
@inject OrderService orderService
@if (Role.Contains("Role"))
{
	<h3 style ="text-align:center;">Заказы</h3>
	@if(Role == "AdminRole" || Role == "CustomerRole")
	{
		<a class="btn btn-primary" href="makeorder">Создать заказ</a>
	}
	<table class="table">
		<thead class="thead-dark">
		<tr>
				<th scope="col">№</th>
				<th scope="col">Название заказа</th>
		</tr>
		</thead>
		<tbody>
		@for (int i = 0; i < Orders.Count(); i++)
		{
			<tr>
				<th scope="row">@(i + 1)</th>
				<td><a href="order/@Orders[i].Id">@Orders[i].Title</a></td>
			</tr>
		}
		</tbody>
	</table>
}
@code {
	[Parameter]
	public string Role { get; set; }
	[Parameter]
	public List<Order>? Orders { get; set; }
}
